.tech-page,
.tech-page * {
  box-sizing: border-box;
}
.tech-page {
  background: #ffffff;
  height: 2340px;
  position: relative;
  overflow: hidden;
}
.rectangle-2 {
  background: linear-gradient(
    180deg,
    rgba(73, 2, 244, 1) 0%,
    rgba(42, 1, 142, 1) 64.99999761581421%
  );
  width: 1441px;
  height: 522px;
  position: absolute;
  left: -1px;
  top: 0px;
}
.header {
  width: 1351px;
  height: 39px;
  position: absolute;
  left: 44px;
  top: 75px;
}
.reviews {
  color: #080808;
  text-align: left;
  font-family: "Lato-Bold", sans-serif;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  position: absolute;
  right: 65.58%;
  left: 27.98%;
  width: 6.44%;
  bottom: 2.56%;
  top: 5.13%;
  height: 92.31%;
}
.tech {
  color: #000000;
  text-align: left;
  font-family: "Lato-Bold", sans-serif;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  position: absolute;
  right: 76.83%;
  left: 16.73%;
  width: 6.44%;
  bottom: 2.56%;
  top: 5.13%;
  height: 92.31%;
}
.science {
  color: #080808;
  text-align: left;
  font-family: "Lato-Bold", sans-serif;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  position: absolute;
  right: 55.96%;
  left: 38.56%;
  width: 5.48%;
  bottom: 7.69%;
  top: 0%;
  height: 92.31%;
}
.entertaiment {
  color: #080808;
  text-align: left;
  font-family: "Lato-Bold", sans-serif;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  position: absolute;
  right: 42.86%;
  left: 48.19%;
  width: 8.96%;
  bottom: 5.13%;
  top: 2.56%;
  height: 92.31%;
}
.ai {
  color: #080808;
  text-align: left;
  font-family: "Lato-Bold", sans-serif;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  position: absolute;
  right: 37.23%;
  left: 61.29%;
  width: 1.48%;
  bottom: 5.13%;
  top: 2.56%;
  height: 92.31%;
}
.frame-3 {
  display: flex;
  flex-direction: row;
  gap: 26px;
  align-items: center;
  justify-content: center;
  width: 19.54%;
  height: 102.56%;
  position: absolute;
  right: -1.55%;
  left: 82.01%;
  bottom: 5.13%;
  top: -7.69%;
}
.button {
  position: absolute;
  inset: 0;
}
.button-outline {
  background: #2b3369;
  border-radius: 20px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px;
  width: 90px;
  height: 39px;
  position: absolute;
  left: 1251px;
  top: 0px;
  overflow: hidden;
}
.login {
  color: #ffffff;
  text-align: left;
  font-family: "Lato-Bold", sans-serif;
  font-size: 16px;
  line-height: 36px;
  font-weight: 700;
  position: absolute;
  left: calc(50% - 19.5px);
  top: 1px;
}
.button2 {
  background: #0075ff;
  border-radius: 20px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px;
  width: 90px;
  height: 39px;
  position: absolute;
  left: 1137px;
  top: -2.5px;
}
.sign-up {
  color: #ffffff;
  text-align: left;
  font-family: "Lato-Bold", sans-serif;
  font-size: 16px;
  line-height: 36px;
  font-weight: 700;
  position: absolute;
  left: calc(50% - 27.5px);
  top: 1px;
}
.the-verge {
  width: 194px;
  height: 77px;
  position: absolute;
  left: -32px;
  top: -22px;
  object-fit: cover;
}
.frame-4 {
  width: 190px;
  height: 39px;
  position: absolute;
  left: 900px;
  top: 0px;
}
.search {
  background: #d9d9d9;
  border-radius: 21px;
  width: 190px;
  height: 39px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.search2 {
  color: #4902f4;
  text-align: left;
  font-family: "Lato-Bold", sans-serif;
  font-size: 16px;
  line-height: 36px;
  font-weight: 700;
  position: absolute;
  left: 12px;
  top: 1px;
}
.icon {
  width: 22px;
  height: 18px;
  position: absolute;
  left: 155px;
  top: 9px;
  overflow: visible;
}
.rectangle {
  background: #000000;
  width: 1440px;
  height: 291px;
  position: absolute;
  left: 0px;
  top: 2049px;
}
.footer {
  position: absolute;
  inset: 0;
}
.the-verge2 {
  width: 332px;
  height: 103px;
  position: absolute;
  left: 61px;
  top: 2060px;
  object-fit: cover;
}
.qu-n-l-c-i-t-quy-n-ri-ng-t {
  color: #ffffff;
  text-align: left;
  font-family: "Lato-Bold", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  position: absolute;
  left: 61px;
  top: 2168px;
}
.kh-n-ng-truy-c-p {
  color: #ffffff;
  text-align: left;
  font-family: "Lato-Bold", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  position: absolute;
  left: 73px;
  top: 2204px;
}
.li-n-h {
  color: #ffffff;
  text-align: left;
  font-family: "Lato-Bold", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  position: absolute;
  left: 61px;
  top: 2240px;
}
.g-i-tin-t-c-cho-ch-ng-t-i {
  color: #ffffff;
  text-align: left;
  font-family: "Lato-Bold", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  position: absolute;
  left: 121px;
  top: 2240px;
}
._69-68-ng-th-y-tr-m-p-13-q-b-nh-th-nh-tp-hcm {
  color: #ffffff;
  text-align: left;
  font-family: "Lato-Bold", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  position: absolute;
  left: 76px;
  top: 2276px;
}
.nguy-n-t-c-c-ng-ng {
  color: #ffffff;
  text-align: left;
  font-family: "Lato-Bold", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  position: absolute;
  left: 273px;
  top: 2240px;
}
.gi-i-thi-u {
  color: #ffffff;
  text-align: left;
  font-family: "Lato-Bold", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  position: absolute;
  left: 412px;
  top: 2240px;
}
.tuy-n-b-o-c {
  color: #ffffff;
  text-align: left;
  font-family: "Lato-Bold", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  position: absolute;
  left: 484px;
  top: 2240px;
}
.t-nh-tr-ng-n-n-t-ng {
  color: #ffffff;
  text-align: left;
  font-family: "Lato-Bold", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  position: absolute;
  left: 191px;
  top: 2204px;
}
.c-ch-ch-ng-t-i-nh-gi-v-xem-x-t-s-n-ph-m {
  color: #ffffff;
  text-align: left;
  font-family: "Lato-Bold", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  position: absolute;
  left: 317px;
  top: 2204px;
}
.i-u-kho-n-s-d-ng {
  color: #ffffff;
  text-align: left;
  font-family: "Lato-Bold", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  position: absolute;
  left: 243px;
  top: 2168px;
}
.th-ng-b-o-quy-n-ri-ng-t {
  color: #ffffff;
  text-align: left;
  font-family: "Lato-Bold", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  position: absolute;
  left: 371px;
  top: 2168px;
}
.ch-nh-s-ch-cookie {
  color: #ffffff;
  text-align: left;
  font-family: "Lato-Bold", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  position: absolute;
  left: 530px;
  top: 2168px;
}
.c-u-h-i-th-ng-g-p-v-b-n-quy-n {
  color: #ffffff;
  text-align: left;
  font-family: "Lato-Bold", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  position: absolute;
  left: 648px;
  top: 2168px;
}
.qu-ng-c-o-v-i-ch-ng-t-i-vi-c-l-m-t-i-vox-media {
  text-align: left;
  font-family: "Lato-Bold", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  position: absolute;
  left: 902px;
  top: 2204px;
}
.qu-ng-c-o-v-i-ch-ng-t-i-vi-c-l-m-t-i-vox-media-span {
  color: #ffffff;
  font-family: "Lato-Bold", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
.qu-ng-c-o-v-i-ch-ng-t-i-vi-c-l-m-t-i-vox-media-span2 {
  color: #fc0000;
  font-family: "Lato-Bold", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
.qu-ng-c-o-v-i-ch-ng-t-i-vi-c-l-m-t-i-vox-media-span3 {
  color: #ffffff;
  font-family: "Lato-Bold", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
._2024-vox-media-llc-b-o-l-u-m-i-quy-n {
  color: #ffffff;
  text-align: left;
  font-family: "Lato-Bold", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  position: absolute;
  left: 902px;
  top: 2240px;
}
.the-verge-l-m-t-m-ng-l-i-c-a-vox-media {
  color: #ffffff;
  text-align: left;
  font-family: "Lato-Bold", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  position: absolute;
  left: 902px;
  top: 2168px;
}
.line {
  width: 11.77px;
  height: 0px;
  position: absolute;
  left: 362.2px;
  top: 2171px;
  overflow: visible;
}
.line2 {
  width: 11.77px;
  height: 0px;
  position: absolute;
  left: 521.2px;
  top: 2171px;
  overflow: visible;
}
.line3 {
  width: 11.77px;
  height: 0px;
  position: absolute;
  left: 639.2px;
  top: 2171px;
  overflow: visible;
}
.line4 {
  margin-top: -1px;
  border-style: solid;
  border-color: #3cffd0;
  border-width: 1px 0 0 0;
  width: 11.77px;
  height: 0px;
  position: absolute;
  left: 233.2px;
  top: 2171px;
  transform-origin: 0 0;
  transform: rotate(105.781deg) scale(1, 1);
}
.line5 {
  margin-top: -1px;
  border-style: solid;
  border-color: #3cffd0;
  border-width: 1px 0 0 0;
  width: 11.77px;
  height: 0px;
  position: absolute;
  left: 181.2px;
  top: 2207px;
  transform-origin: 0 0;
  transform: rotate(105.781deg) scale(1, 1);
}
.line6 {
  margin-top: -1px;
  border-style: solid;
  border-color: #fff200;
  border-width: 1px 0 0 0;
  width: 11.77px;
  height: 0px;
  position: absolute;
  left: 111.2px;
  top: 2243px;
  transform-origin: 0 0;
  transform: rotate(105.781deg) scale(1, 1);
}
.line7 {
  margin-top: -1px;
  border-style: solid;
  border-color: #fff200;
  border-width: 1px 0 0 0;
  width: 11.77px;
  height: 0px;
  position: absolute;
  left: 265.2px;
  top: 2243px;
  transform-origin: 0 0;
  transform: rotate(105.781deg) scale(1, 1);
}
.line8 {
  margin-top: -1px;
  border-style: solid;
  border-color: #fff200;
  border-width: 1px 0 0 0;
  width: 11.77px;
  height: 0px;
  position: absolute;
  left: 404.2px;
  top: 2243px;
  transform-origin: 0 0;
  transform: rotate(105.781deg) scale(1, 1);
}
.line9 {
  margin-top: -1px;
  border-style: solid;
  border-color: #fff200;
  border-width: 1px 0 0 0;
  width: 11.77px;
  height: 0px;
  position: absolute;
  left: 476.2px;
  top: 2243px;
  transform-origin: 0 0;
  transform: rotate(105.781deg) scale(1, 1);
}
.line10 {
  margin-top: -1px;
  border-style: solid;
  border-color: #3cffd0;
  border-width: 1px 0 0 0;
  width: 11.77px;
  height: 0px;
  position: absolute;
  left: 308.2px;
  top: 2207px;
  transform-origin: 0 0;
  transform: rotate(105.781deg) scale(1, 1);
}
.line11 {
  margin-top: -1px;
  border-style: solid;
  border-color: #3cffd0;
  border-width: 1px 0 0 0;
  width: 11.77px;
  height: 0px;
  position: absolute;
  left: 64.2px;
  top: 2207px;
  transform-origin: 0 0;
  transform: rotate(105.781deg) scale(1, 1);
}
.map-pin {
  width: 10px;
  height: 12px;
  position: absolute;
  left: 61px;
  top: 2278px;
  overflow: visible;
}
.all-stories-tagged {
  color: #3cffd0;
  text-align: left;
  font-family: "Lato-Bold", sans-serif;
  font-size: 13px;
  line-height: 36px;
  font-weight: 700;
  position: absolute;
  left: 338px;
  top: 412px;
}
.tech2 {
  color: #ffffff;
  text-align: left;
  font-family: "Lato-ExtraBold", sans-serif;
  font-size: 72px;
  line-height: 50px;
  font-weight: 800;
  position: absolute;
  left: 339px;
  top: 456px;
  width: 451px;
  height: 55px;
}
.rectangle-1354 {
  background: rgba(4, 4, 4, 0.82);
  width: 1440px;
  height: 1552px;
  position: absolute;
  left: 0px;
  top: 497px;
}
.page-1-of-745 {
  color: #ffffff;
  text-align: left;
  font-family: "Lato-Bold", sans-serif;
  font-size: 13px;
  line-height: 36px;
  font-weight: 700;
  position: absolute;
  left: 517px;
  top: 1913px;
  width: 91px;
  height: 42px;
}
.tin-t-c-c-ng-ngh-m-i-nh-t-v-ph-n-c-ng-ng-d-ng-t-t-nh-t-v-i-khi-l-t-nh-t-tr-n-th-gi-i-v-nhi-u-th-ng-tin-kh-c-t-c-c-c-ng-ty-h-ng-u-nh-google-v-apple-n-nh-ng-c-ng-ty-kh-i-nghi-p-nh-ang-c-nh-tranh-thu-h-t-s-ch-c-a-b-n-verge-tech-cung-c-p-th-ng-tin-c-p-nh-t-h-ng-ng-y-v-nh-ng-i-u-quan-tr-ng-nh-t-trong-l-nh-v-c-c-ng-ngh {
  color: #ffffff;
  text-align: left;
  font-family: "Lato-Bold", sans-serif;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  position: absolute;
  left: calc(50% - 470px);
  top: 543px;
  width: 950px;
  height: 154px;
}
.line-19 {
  margin-top: -1px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px 0 0 0;
  width: 922px;
  height: 0px;
  position: absolute;
  left: calc(50% - 461px);
  top: 731.98px;
  transform-origin: 0 0;
  transform: rotate(-0.185deg) scale(1, 1);
}
.line-26 {
  width: 922px;
  height: 0px;
  position: absolute;
  left: calc(50% - 461px);
  top: 1256.98px;
  transform: translate(0px, -3.48px);
  overflow: visible;
}
.tin-n-i-b-t {
  position: absolute;
  inset: 0;
}
.amazon-r-r-mac-mini-nh-v-i-chip-m-4-pro {
  color: #ffffff;
  text-align: left;
  font-family: "Lato-Bold", sans-serif;
  font-size: 20px;
  line-height: 32px;
  font-weight: 700;
  position: absolute;
  left: 223px;
  top: 1523px;
  width: 417px;
  height: 42px;
}
.thomas-ricker {
  color: #3cffd0;
  text-align: left;
  font-family: "Lato-Bold", sans-serif;
  font-size: 13px;
  line-height: 36px;
  font-weight: 700;
  position: absolute;
  left: 224px;
  top: 1564px;
  width: 117px;
  height: 42px;
}
.oct-29 {
  color: #ffffff;
  text-align: left;
  font-family: "Lato-Bold", sans-serif;
  font-size: 13px;
  line-height: 36px;
  font-weight: 700;
  position: absolute;
  left: 352px;
  top: 1564px;
  width: 107.62px;
  height: 41.96px;
}
.apple {
  color: #ffffff;
  text-align: center;
  font-family: "Lato-Bold", sans-serif;
  font-size: 14px;
  line-height: 32px;
  font-weight: 700;
  position: absolute;
  left: 178px;
  top: 1611.88px;
  width: 83.91px;
  height: 35.14px;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.line-17 {
  margin-top: -1px;
  border-style: solid;
  border-color: #3cffd0;
  border-width: 1px 0 0 0;
  width: 81.58px;
  height: 0px;
  position: absolute;
  left: 208.75px;
  top: 1610.72px;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.image {
  width: 160px;
  height: 129px;
  position: absolute;
  left: 667px;
  top: 1500px;
  object-fit: cover;
}
.comment {
  width: 46px;
  height: 33px;
  position: absolute;
  left: 418px;
  top: 1589px;
}
.chat-1 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: -5px;
  top: -20px;
  object-fit: cover;
}
._16 {
  color: #ffffff;
  text-align: left;
  font-family: "Lato-Bold", sans-serif;
  font-size: 13px;
  line-height: 36px;
  font-weight: 700;
  position: absolute;
  left: 29px;
  top: -26px;
}
.line-20 {
  margin-top: -1px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px 0 0 0;
  width: 17px;
  height: 0px;
  position: absolute;
  left: 404px;
  top: 1572px;
  transform-origin: 0 0;
  transform: rotate(89.508deg) scale(1, 1);
}
.t-t-c-tin-t-c-t-tu-n-l-c-ng-b-mac-c-a-apple {
  color: #ffffff;
  text-align: left;
  font-family: "Lato-Bold", sans-serif;
  font-size: 20px;
  line-height: 32px;
  font-weight: 700;
  position: absolute;
  left: 223.03px;
  top: 1307.32px;
  width: 417.32px;
}
.jacob-kastrenakes {
  color: #3cffd0;
  text-align: left;
  font-family: "Lato-Bold", sans-serif;
  font-size: 13px;
  line-height: 36px;
  font-weight: 700;
  position: absolute;
  left: 223px;
  top: 1388px;
  width: 140px;
  height: 42px;
}
.oct-292 {
  color: #ffffff;
  text-align: left;
  font-family: "Lato-Bold", sans-serif;
  font-size: 13px;
  line-height: 36px;
  font-weight: 700;
  position: absolute;
  left: 372px;
  top: 1388px;
  width: 107.62px;
  height: 41.96px;
}
.apple-event {
  color: #ffffff;
  text-align: left;
  font-family: "Lato-Bold", sans-serif;
  font-size: 14px;
  line-height: 32px;
  font-weight: 700;
  position: absolute;
  left: 178px;
  top: 1410px;
  width: 103px;
  height: 35px;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.line-172 {
  margin-top: -1px;
  border-style: solid;
  border-color: #3cffd0;
  border-width: 1px 0 0 0;
  width: 92.72px;
  height: 0px;
  position: absolute;
  left: 208.75px;
  top: 1408.72px;
  transform-origin: 0 0;
  transform: rotate(-89.844deg) scale(1, 1);
}
.image2 {
  width: 160px;
  height: 129px;
  position: absolute;
  left: 667px;
  top: 1298px;
  object-fit: cover;
}
.comment2 {
  width: 46px;
  height: 33px;
  position: absolute;
  left: 418px;
  top: 1387px;
}
.chat-12 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 15px;
  top: 6px;
  object-fit: cover;
}
._162 {
  color: #ffffff;
  text-align: left;
  font-family: "Lato-Bold", sans-serif;
  font-size: 13px;
  line-height: 36px;
  font-weight: 700;
  position: absolute;
  left: 49px;
  top: 0px;
}
.line-202 {
  margin-top: -1px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px 0 0 0;
  width: 17px;
  height: 0px;
  position: absolute;
  left: 424px;
  top: 1396px;
  transform-origin: 0 0;
  transform: rotate(89.508deg) scale(1, 1);
}
.gmail-s-gi-p-b-n-vi-t-email-tr-n-web-v-i-ai {
  color: #ffffff;
  text-align: left;
  font-family: "Lato-Bold", sans-serif;
  font-size: 20px;
  line-height: 32px;
  font-weight: 700;
  position: absolute;
  left: 221px;
  top: 1718px;
  width: 417px;
  height: 36px;
}
.emma-roth {
  color: #3cffd0;
  text-align: left;
  font-family: "Lato-Bold", sans-serif;
  font-size: 13px;
  line-height: 36px;
  font-weight: 700;
  position: absolute;
  left: 224px;
  top: 1753px;
  width: 117px;
  height: 42px;
}
.oct-293 {
  color: #ffffff;
  text-align: left;
  font-family: "Lato-Bold", sans-serif;
  font-size: 13px;
  line-height: 36px;
  font-weight: 700;
  position: absolute;
  left: 325px;
  top: 1753px;
  width: 107.62px;
  height: 41.96px;
}
.google {
  color: #ffffff;
  text-align: center;
  font-family: "Lato-Bold", sans-serif;
  font-size: 14px;
  line-height: 32px;
  font-weight: 700;
  position: absolute;
  left: 178px;
  top: 1795.88px;
  width: 83.91px;
  height: 35.14px;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.line-173 {
  margin-top: -1px;
  border-style: solid;
  border-color: #3cffd0;
  border-width: 1px 0 0 0;
  width: 81.58px;
  height: 0px;
  position: absolute;
  left: 208.75px;
  top: 1794.72px;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.image3 {
  width: 160px;
  height: 129px;
  position: absolute;
  left: 667px;
  top: 1684px;
  object-fit: cover;
}
.comment3 {
  width: 46px;
  height: 33px;
  position: absolute;
  left: 418px;
  top: 1773px;
}
.chat-13 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: -32px;
  top: -15px;
  object-fit: cover;
}
._01 {
  color: #ffffff;
  text-align: left;
  font-family: "Lato-Bold", sans-serif;
  font-size: 13px;
  line-height: 36px;
  font-weight: 700;
  position: absolute;
  left: 2px;
  top: -21px;
}
.line-203 {
  margin-top: -1px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px 0 0 0;
  width: 17px;
  height: 0px;
  position: absolute;
  left: 377px;
  top: 1761px;
  transform-origin: 0 0;
  transform: rotate(89.508deg) scale(1, 1);
}
.line-24 {
  margin-top: -1px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px 0 0 0;
  width: 649px;
  height: 0px;
  position: absolute;
  left: 178px;
  top: 1466px;
  transform-origin: 0 0;
  transform: rotate(-0.177deg) scale(1, 1);
}
.line-25 {
  margin-top: -1px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px 0 0 0;
  width: 649px;
  height: 0px;
  position: absolute;
  left: 178px;
  top: 1650px;
  transform-origin: 0 0;
  transform: rotate(-0.177deg) scale(1, 1);
}
.line-23 {
  margin-top: -1px;
  border-style: solid;
  border-color: #3cffd0;
  border-width: 1px 0 0 0;
  width: 616px;
  height: 0px;
  position: absolute;
  left: 259px;
  top: 1916px;
  transform-origin: 0 0;
  transform: rotate(-0.093deg) scale(1, 1);
}
.next {
  color: #3cffd0;
  text-align: left;
  font-family: "Lato-Bold", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  text-decoration: underline;
  position: absolute;
  left: 843px;
  top: 1916px;
}
.content {
  position: absolute;
  inset: 0;
}
.comment4 {
  width: 46.09px;
  height: 33px;
  position: absolute;
  left: calc(50% - 105.21px);
  top: calc(50% - -19px);
}
.tom-warren {
  color: #3cffd0;
  text-align: left;
  font-family: "Lato-Bold", sans-serif;
  font-size: 13px;
  line-height: 36px;
  font-weight: 700;
  position: absolute;
  left: calc(50% - 450px);
  top: calc(50% - -8px);
  width: 93.19px;
}
.image4 {
  width: 341.69px;
  height: 174.68px;
  position: absolute;
  left: calc(50% - 450px);
  top: calc(50% - 396px);
  object-fit: cover;
}
.microsoft-teams-ang-c-c-c-lu-ng-v-cu-c-tr-chuy-n-k-t-h-p-v-i-c-c-k-nh {
  color: #f8f8f8;
  text-align: left;
  font-family: "Lato-ExtraBold", sans-serif;
  font-size: 27px;
  line-height: 34px;
  font-weight: 800;
  position: absolute;
  left: calc(50% - 444px);
  top: calc(50% - 239px);
  width: 338.68px;
  height: 140px;
}
.c-c-cu-c-tr-chuy-n-v-k-nh-ang-c-k-t-h-p-l-i-t-o-ra-tr-i-nghi-m-h-i-tho-i-theo-lu-ng-m-i-v-o-n-m-2025 {
  color: #ffffff;
  text-align: left;
  font-family: "Lato-Bold", sans-serif;
  font-size: 18px;
  line-height: 36px;
  font-weight: 700;
  position: absolute;
  left: calc(50% - 444px);
  top: calc(50% - 99px);
  width: 326.66px;
}
.time-comment {
  width: 167px;
  height: 36px;
  position: static;
}
._8-29-am-gmt-7 {
  color: #ffffff;
  text-align: left;
  font-family: "Lato-Bold", sans-serif;
  font-size: 13px;
  line-height: 36px;
  font-weight: 700;
  position: absolute;
  left: calc(50% - 343px);
  top: calc(50% - -8px);
  width: 98px;
  height: 28px;
}
.line12 {
  margin-top: -1px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px 0 0 0;
  width: 20px;
  height: 0px;
  position: absolute;
  left: calc(50% - 239px);
  top: calc(50% - -14px);
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.chat-14 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: calc(50% - 232px);
  top: calc(50% - -14px);
  object-fit: cover;
}
._47 {
  color: #ffffff;
  text-align: left;
  font-family: "Lato-Bold", sans-serif;
  font-size: 13px;
  line-height: 36px;
  font-weight: 700;
  position: absolute;
  left: calc(50% - 192px);
  top: calc(50% - -6px);
}
.comment5 {
  width: 46.09px;
  height: 33px;
  position: absolute;
  left: 1087.79px;
  top: 1189px;
}
.elizabeth-lopatto {
  color: #3cffd0;
  text-align: left;
  font-family: "Lato-Bold", sans-serif;
  font-size: 13px;
  line-height: 36px;
  font-weight: 700;
  position: absolute;
  left: 749px;
  top: 1107px;
  width: 136px;
}
.image5 {
  width: 341.69px;
  height: 174.68px;
  position: absolute;
  left: calc(50% - -23px);
  top: 774px;
  object-fit: cover;
}
.robinhood-th-a-nh-n-r-ng-ch-l-m-t-ng-d-ng-nh-b-c {
  color: #f8f8f8;
  text-align: left;
  font-family: "Lato-ExtraBold", sans-serif;
  font-size: 27px;
  line-height: 34px;
  font-weight: 800;
  position: absolute;
  left: calc(50% - -29px);
  top: 931px;
  width: 339px;
  height: 102px;
}
.y-l-t-t-c-nh-ng-g-m-th-tr-ng-c-c-c-t-ng-th-ng-ang-n-i-n {
  color: #ffffff;
  text-align: left;
  font-family: "Lato-Bold", sans-serif;
  font-size: 18px;
  line-height: 36px;
  font-weight: 700;
  position: absolute;
  left: calc(50% - -29px);
  top: 1033px;
  width: 326.66px;
}
._8-29-am-gmt-72 {
  color: #ffffff;
  text-align: left;
  font-family: "Lato-Bold", sans-serif;
  font-size: 13px;
  line-height: 36px;
  font-weight: 700;
  position: absolute;
  left: 905px;
  top: 1107px;
  width: 98px;
  height: 28px;
}
.line13 {
  margin-top: -1px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px 0 0 0;
  width: 20px;
  height: 0px;
  position: absolute;
  left: 1009px;
  top: 1113px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.chat-15 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 1016px;
  top: 1113px;
  object-fit: cover;
}
._472 {
  color: #ffffff;
  text-align: left;
  font-family: "Lato-Bold", sans-serif;
  font-size: 13px;
  line-height: 36px;
  font-weight: 700;
  position: absolute;
  left: 1056px;
  top: 1105px;
}
