.login,
.login * {
  box-sizing: border-box;
}
.login {
  background: linear-gradient(
    180deg,
    rgba(47, 3, 151, 1) 70.99999785423279%,
    rgba(15, 1, 49, 1) 100%
  );
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.rectangle-1 {
  background: #ffffff;
  border-radius: 4px;
  width: 725px;
  height: 879px;
  position: absolute;
  left: 380px;
  top: 39px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
}
.login2 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 649px;
  top: 189px;
  width: 71px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sign-up {
  color: #ff0000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 720px;
  top: 188px;
  width: 66px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.voxmedia {
  color: #292929;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 51px;
  font-weight: 700;
  position: absolute;
  left: calc(50% - 140px);
  top: 71px;
}
.or {
  color: #545454;
  text-align: left;
  font-family: "IbmPlexSerif-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 10px);
  top: 333px;
}
.rectangle-2 {
  background: #ffffff;
  border-radius: 10px;
  border-style: solid;
  border-color: #8ac0ff;
  border-width: 1px;
  width: 440px;
  height: 69px;
  position: absolute;
  left: 507px;
  top: 372px;
}
.rectangle-3 {
  background: #ffffff;
  border-radius: 10px;
  border-style: solid;
  border-color: #e6e6e6;
  border-width: 1px;
  width: 440px;
  height: 69px;
  position: absolute;
  left: 507px;
  top: 457px;
}
.user-name {
  color: #4f4f4f;
  text-align: left;
  font-family: "IbmPlexSerif-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 543px;
  top: 396px;
}
.password {
  color: #4f4f4f;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 543px;
  top: 481px;
}
.forgot-your-password {
  color: #ff0000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 531px;
  top: 673px;
}
.forgot-your-username {
  color: #ff0000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 731px;
  top: 674px;
}
.line-2 {
  margin-top: -0.5px;
  border-style: solid;
  border-color: #000000;
  border-width: 0.5px 0 0 0;
  width: 222px;
  height: 0px;
  position: absolute;
  left: 427px;
  top: 219px;
  transform-origin: 0 0;
  transform: rotate(-0.258deg) scale(1, 1);
}
.line-29 {
  width: 291px;
  height: 1.31px;
  position: absolute;
  left: 720px;
  top: 217.75px;
  transform: translate(0px, -0.25px);
  overflow: visible;
}
.rectangle-4 {
  background: #f7f7f7;
  border-radius: 4px;
  width: 131px;
  height: 67px;
  position: absolute;
  left: 499px;
  top: 240px;
}
.rectangle-5 {
  background: #f7f7f7;
  border-radius: 4px;
  width: 136px;
  height: 71px;
  position: absolute;
  left: 651px;
  top: 236px;
}
.rectangle-6 {
  background: #f7f7f7;
  border-radius: 4px;
  width: 137px;
  height: 71px;
  position: absolute;
  left: 802px;
  top: 236px;
}
.group-1 {
  position: absolute;
  inset: 0;
}
.rectangle-7 {
  background: #000000;
  border-radius: 8px;
  width: 312px;
  height: 62px;
  position: absolute;
  left: 564px;
  top: 561px;
}
.log-in {
  color: #ffffff;
  text-align: left;
  font-family: "IbmPlexSerif-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 697px;
  top: 582px;
}
._341350527-1184363148892088-4003333439020170582-n-2 {
  width: 46px;
  height: 45px;
  position: absolute;
  left: 538px;
  top: 249px;
  object-fit: cover;
}
._341350527-1184363148892088-4003333439020170582-n-3 {
  width: 48px;
  height: 48px;
  position: absolute;
  left: 847px;
  top: 248px;
  object-fit: cover;
}
.image {
  width: 59px;
  height: 44px;
  position: absolute;
  left: 690px;
  top: 250px;
  object-fit: cover;
}
.line-26 {
  width: 30px;
  height: 0px;
  position: absolute;
  left: 649px;
  top: 218px;
  transform: translate(-0.5px, -30px);
  overflow: visible;
}
.line-27 {
  margin-top: -1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 70px;
  height: 0px;
  position: absolute;
  left: 649.5px;
  top: 189px;
}
.line-28 {
  width: 30px;
  height: 0px;
  position: absolute;
  left: 720px;
  top: 188px;
  transform: translate(-0.5px, 0px);
  overflow: visible;
}
.line-30 {
  margin-top: -1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 17px;
  height: 0px;
  position: absolute;
  left: 720px;
  top: 691px;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
