.ai-page,
.ai-page * {
  box-sizing: border-box;
}
.ai-page {
  background: #ffffff;
  height: 2340px;
  position: relative;
  overflow: hidden;
}
.rectangle-2 {
  background: linear-gradient(
    180deg,
    rgba(73, 2, 244, 1) 0%,
    rgba(42, 1, 142, 1) 64.99999761581421%
  );
  width: 1441px;
  height: 522px;
  position: absolute;
  left: -1px;
  top: 0px;
}
.header {
  width: 1351px;
  height: 39px;
  position: absolute;
  left: 44px;
  top: 75px;
}
.reviews {
  color: #080808;
  text-align: left;
  font-family: "Lato-Bold", sans-serif;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  position: absolute;
  right: 65.58%;
  left: 27.98%;
  width: 6.44%;
  bottom: 2.56%;
  top: 5.13%;
  height: 92.31%;
}
.tech {
  color: #000000;
  text-align: left;
  font-family: "Lato-Bold", sans-serif;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  position: absolute;
  right: 76.83%;
  left: 16.73%;
  width: 6.44%;
  bottom: 2.56%;
  top: 5.13%;
  height: 92.31%;
}
.science {
  color: #080808;
  text-align: left;
  font-family: "Lato-Bold", sans-serif;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  position: absolute;
  right: 55.96%;
  left: 38.56%;
  width: 5.48%;
  bottom: 7.69%;
  top: 0%;
  height: 92.31%;
}
.entertaiment {
  color: #080808;
  text-align: left;
  font-family: "Lato-Bold", sans-serif;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  position: absolute;
  right: 42.86%;
  left: 48.19%;
  width: 8.96%;
  bottom: 5.13%;
  top: 2.56%;
  height: 92.31%;
}
.ai {
  color: #080808;
  text-align: left;
  font-family: "Lato-Bold", sans-serif;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  position: absolute;
  right: 37.23%;
  left: 61.29%;
  width: 1.48%;
  bottom: 5.13%;
  top: 2.56%;
  height: 92.31%;
}
.frame-3 {
  display: flex;
  flex-direction: row;
  gap: 26px;
  align-items: center;
  justify-content: center;
  width: 19.54%;
  height: 102.56%;
  position: absolute;
  right: -1.55%;
  left: 82.01%;
  bottom: 5.13%;
  top: -7.69%;
}
.button {
  position: absolute;
  inset: 0;
}
.button-outline {
  background: #2b3369;
  border-radius: 20px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px;
  width: 90px;
  height: 39px;
  position: absolute;
  left: 1251px;
  top: 0px;
  overflow: hidden;
}
.login {
  color: #ffffff;
  text-align: left;
  font-family: "Lato-Bold", sans-serif;
  font-size: 16px;
  line-height: 36px;
  font-weight: 700;
  position: absolute;
  left: calc(50% - 19.5px);
  top: 1px;
}
.button2 {
  background: #0075ff;
  border-radius: 20px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px;
  width: 90px;
  height: 39px;
  position: absolute;
  left: 1137px;
  top: -2.5px;
}
.sign-up {
  color: #ffffff;
  text-align: left;
  font-family: "Lato-Bold", sans-serif;
  font-size: 16px;
  line-height: 36px;
  font-weight: 700;
  position: absolute;
  left: calc(50% - 27.5px);
  top: 1px;
}
.the-verge {
  width: 194px;
  height: 77px;
  position: absolute;
  left: -32px;
  top: -22px;
  object-fit: cover;
}
.frame-4 {
  width: 190px;
  height: 39px;
  position: absolute;
  left: 900px;
  top: 0px;
}
.search {
  background: #d9d9d9;
  border-radius: 21px;
  width: 190px;
  height: 39px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.search2 {
  color: #4902f4;
  text-align: left;
  font-family: "Lato-Bold", sans-serif;
  font-size: 16px;
  line-height: 36px;
  font-weight: 700;
  position: absolute;
  left: 12px;
  top: 1px;
}
.icon {
  width: 22px;
  height: 18px;
  position: absolute;
  left: 155px;
  top: 9px;
  overflow: visible;
}
.rectangle {
  background: #000000;
  width: 1440px;
  height: 291px;
  position: absolute;
  left: 0px;
  top: 2049px;
}
.footer {
  position: absolute;
  inset: 0;
}
.the-verge2 {
  width: 332px;
  height: 103px;
  position: absolute;
  left: 61px;
  top: 2060px;
  object-fit: cover;
}
.qu-n-l-c-i-t-quy-n-ri-ng-t {
  color: #ffffff;
  text-align: left;
  font-family: "Lato-Bold", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  position: absolute;
  left: 61px;
  top: 2168px;
}
.kh-n-ng-truy-c-p {
  color: #ffffff;
  text-align: left;
  font-family: "Lato-Bold", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  position: absolute;
  left: 73px;
  top: 2204px;
}
.li-n-h {
  color: #ffffff;
  text-align: left;
  font-family: "Lato-Bold", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  position: absolute;
  left: 61px;
  top: 2240px;
}
.g-i-tin-t-c-cho-ch-ng-t-i {
  color: #ffffff;
  text-align: left;
  font-family: "Lato-Bold", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  position: absolute;
  left: 121px;
  top: 2240px;
}
._69-68-ng-th-y-tr-m-p-13-q-b-nh-th-nh-tp-hcm {
  color: #ffffff;
  text-align: left;
  font-family: "Lato-Bold", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  position: absolute;
  left: 76px;
  top: 2276px;
}
.nguy-n-t-c-c-ng-ng {
  color: #ffffff;
  text-align: left;
  font-family: "Lato-Bold", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  position: absolute;
  left: 273px;
  top: 2240px;
}
.gi-i-thi-u {
  color: #ffffff;
  text-align: left;
  font-family: "Lato-Bold", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  position: absolute;
  left: 412px;
  top: 2240px;
}
.tuy-n-b-o-c {
  color: #ffffff;
  text-align: left;
  font-family: "Lato-Bold", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  position: absolute;
  left: 484px;
  top: 2240px;
}
.t-nh-tr-ng-n-n-t-ng {
  color: #ffffff;
  text-align: left;
  font-family: "Lato-Bold", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  position: absolute;
  left: 191px;
  top: 2204px;
}
.c-ch-ch-ng-t-i-nh-gi-v-xem-x-t-s-n-ph-m {
  color: #ffffff;
  text-align: left;
  font-family: "Lato-Bold", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  position: absolute;
  left: 317px;
  top: 2204px;
}
.i-u-kho-n-s-d-ng {
  color: #ffffff;
  text-align: left;
  font-family: "Lato-Bold", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  position: absolute;
  left: 243px;
  top: 2168px;
}
.th-ng-b-o-quy-n-ri-ng-t {
  color: #ffffff;
  text-align: left;
  font-family: "Lato-Bold", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  position: absolute;
  left: 371px;
  top: 2168px;
}
.ch-nh-s-ch-cookie {
  color: #ffffff;
  text-align: left;
  font-family: "Lato-Bold", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  position: absolute;
  left: 530px;
  top: 2168px;
}
.c-u-h-i-th-ng-g-p-v-b-n-quy-n {
  color: #ffffff;
  text-align: left;
  font-family: "Lato-Bold", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  position: absolute;
  left: 648px;
  top: 2168px;
}
.qu-ng-c-o-v-i-ch-ng-t-i-vi-c-l-m-t-i-vox-media {
  text-align: left;
  font-family: "Lato-Bold", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  position: absolute;
  left: 902px;
  top: 2204px;
}
.qu-ng-c-o-v-i-ch-ng-t-i-vi-c-l-m-t-i-vox-media-span {
  color: #ffffff;
  font-family: "Lato-Bold", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
.qu-ng-c-o-v-i-ch-ng-t-i-vi-c-l-m-t-i-vox-media-span2 {
  color: #fc0000;
  font-family: "Lato-Bold", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
.qu-ng-c-o-v-i-ch-ng-t-i-vi-c-l-m-t-i-vox-media-span3 {
  color: #ffffff;
  font-family: "Lato-Bold", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
._2024-vox-media-llc-b-o-l-u-m-i-quy-n {
  color: #ffffff;
  text-align: left;
  font-family: "Lato-Bold", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  position: absolute;
  left: 902px;
  top: 2240px;
}
.the-verge-l-m-t-m-ng-l-i-c-a-vox-media {
  color: #ffffff;
  text-align: left;
  font-family: "Lato-Bold", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  position: absolute;
  left: 902px;
  top: 2168px;
}
.line {
  width: 11.77px;
  height: 0px;
  position: absolute;
  left: 362.2px;
  top: 2171px;
  overflow: visible;
}
.line2 {
  width: 11.77px;
  height: 0px;
  position: absolute;
  left: 521.2px;
  top: 2171px;
  overflow: visible;
}
.line3 {
  width: 11.77px;
  height: 0px;
  position: absolute;
  left: 639.2px;
  top: 2171px;
  overflow: visible;
}
.line4 {
  margin-top: -1px;
  border-style: solid;
  border-color: #3cffd0;
  border-width: 1px 0 0 0;
  width: 11.77px;
  height: 0px;
  position: absolute;
  left: 233.2px;
  top: 2171px;
  transform-origin: 0 0;
  transform: rotate(105.781deg) scale(1, 1);
}
.line5 {
  margin-top: -1px;
  border-style: solid;
  border-color: #3cffd0;
  border-width: 1px 0 0 0;
  width: 11.77px;
  height: 0px;
  position: absolute;
  left: 181.2px;
  top: 2207px;
  transform-origin: 0 0;
  transform: rotate(105.781deg) scale(1, 1);
}
.line6 {
  margin-top: -1px;
  border-style: solid;
  border-color: #fff200;
  border-width: 1px 0 0 0;
  width: 11.77px;
  height: 0px;
  position: absolute;
  left: 111.2px;
  top: 2243px;
  transform-origin: 0 0;
  transform: rotate(105.781deg) scale(1, 1);
}
.line7 {
  margin-top: -1px;
  border-style: solid;
  border-color: #fff200;
  border-width: 1px 0 0 0;
  width: 11.77px;
  height: 0px;
  position: absolute;
  left: 265.2px;
  top: 2243px;
  transform-origin: 0 0;
  transform: rotate(105.781deg) scale(1, 1);
}
.line8 {
  margin-top: -1px;
  border-style: solid;
  border-color: #fff200;
  border-width: 1px 0 0 0;
  width: 11.77px;
  height: 0px;
  position: absolute;
  left: 404.2px;
  top: 2243px;
  transform-origin: 0 0;
  transform: rotate(105.781deg) scale(1, 1);
}
.line9 {
  margin-top: -1px;
  border-style: solid;
  border-color: #fff200;
  border-width: 1px 0 0 0;
  width: 11.77px;
  height: 0px;
  position: absolute;
  left: 476.2px;
  top: 2243px;
  transform-origin: 0 0;
  transform: rotate(105.781deg) scale(1, 1);
}
.line10 {
  margin-top: -1px;
  border-style: solid;
  border-color: #3cffd0;
  border-width: 1px 0 0 0;
  width: 11.77px;
  height: 0px;
  position: absolute;
  left: 308.2px;
  top: 2207px;
  transform-origin: 0 0;
  transform: rotate(105.781deg) scale(1, 1);
}
.line11 {
  margin-top: -1px;
  border-style: solid;
  border-color: #3cffd0;
  border-width: 1px 0 0 0;
  width: 11.77px;
  height: 0px;
  position: absolute;
  left: 64.2px;
  top: 2207px;
  transform-origin: 0 0;
  transform: rotate(105.781deg) scale(1, 1);
}
.map-pin {
  width: 10px;
  height: 12px;
  position: absolute;
  left: 61px;
  top: 2278px;
  overflow: visible;
}
.all-stories-tagged {
  color: #3cffd0;
  text-align: left;
  font-family: "Lato-Bold", sans-serif;
  font-size: 13px;
  line-height: 36px;
  font-weight: 700;
  position: absolute;
  left: 338px;
  top: 412px;
}
.reviews2 {
  color: #ffffff;
  text-align: left;
  font-family: "Lato-ExtraBold", sans-serif;
  font-size: 72px;
  line-height: 50px;
  font-weight: 800;
  position: absolute;
  left: 339px;
  top: 456px;
  width: 782px;
  height: 55px;
}
.rectangle-1354 {
  width: 1440px;
  height: 1527px;
  position: absolute;
  left: -1px;
  top: 522px;
  overflow: visible;
}
.google {
  color: #ffffff;
  text-align: left;
  font-family: "Lato-ExtraBold", sans-serif;
  font-size: 20px;
  line-height: 34px;
  font-weight: 800;
  position: absolute;
  left: 172px;
  top: 1563px;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.page-1-of-745 {
  color: #ffffff;
  text-align: left;
  font-family: "Lato-Bold", sans-serif;
  font-size: 13px;
  line-height: 36px;
  font-weight: 700;
  position: absolute;
  left: 517px;
  top: 1913px;
  width: 91px;
  height: 42px;
}
.tr-tu-nh-n-t-o-ang-tr-th-nh-m-t-ph-n-quan-tr-ng-trong-cu-c-s-ng-c-a-ch-ng-ta-h-n-bao-gi-h-t-trong-khi-m-t-s-ng-i-c-th-coi-l-s-th-i-ph-ng-v-so-s-nh-n-v-i-nft-hay-tv-3-d-th-ai-ang-t-o-ra-m-t-c-s-c-l-n-trong-h-u-h-t-c-c-l-nh-v-c-c-a-ng-nh-c-ng-ngh-chat-gpt-c-a-open-ai-c-l-l-chatbot-ai-n-i-ti-ng-nh-t-hi-n-nay-nh-ng-v-i-vi-c-google-y-m-nh-gemini-microsoft-ph-t-tri-n-copilot-v-apple-ang-c-g-ng-c-i-thi-n-siri-ai-c-l-s-c-ch-trong-m-t-th-i-gian-d-i-s-p-t-i-t-i-the-verge-ch-ng-t-i-ang-kh-m-ph-nh-ng-i-u-g-c-th-x-y-ra-v-i-ai-v-c-nh-ng-i-u-ti-u-c-c-m-ai-g-y-ra-n-a {
  color: #ffffff;
  text-align: left;
  font-family: "Lato-Bold", sans-serif;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  position: absolute;
  left: calc(50% - 467px);
  top: 543px;
  width: 947px;
  height: 178px;
}
.line-19 {
  margin-top: -1px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px 0 0 0;
  width: 922px;
  height: 0px;
  position: absolute;
  left: calc(50% - 467px);
  top: 785.98px;
  transform-origin: 0 0;
  transform: rotate(-0.185deg) scale(1, 1);
}
.line-24 {
  margin-top: -1px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px 0 0 0;
  width: 649px;
  height: 0px;
  position: absolute;
  left: 341px;
  top: 1374px;
  transform-origin: 0 0;
  transform: rotate(-0.177deg) scale(1, 1);
}
.line-25 {
  margin-top: -1px;
  border-style: solid;
  border-color: #3cffd0;
  border-width: 1px 0 0 0;
  width: 89.55px;
  height: 0px;
  position: absolute;
  left: 212px;
  top: 1568.55px;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.more-than-a-quarter-of-new-code-at-google-is-generated-by-ai {
  color: #ffffff;
  text-align: left;
  font-family: "Lato-ExtraBold", sans-serif;
  font-size: 24px;
  line-height: 34px;
  font-weight: 800;
  position: absolute;
  left: 259px;
  top: 1469px;
  width: 713px;
  height: 136px;
}
.line-23 {
  margin-top: -1px;
  border-style: solid;
  border-color: #3cffd0;
  border-width: 1px 0 0 0;
  width: 616px;
  height: 0px;
  position: absolute;
  left: 273px;
  top: 1913px;
  transform-origin: 0 0;
  transform: rotate(-0.093deg) scale(1, 1);
}
.next {
  color: #3cffd0;
  text-align: left;
  font-family: "Lato-Bold", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  text-decoration: underline;
  position: absolute;
  left: 843px;
  top: 1916px;
}
.group-9 {
  position: absolute;
  inset: 0;
}
.google-ceo-teases-the-company-s-next-gemini-model {
  color: #f8f8f8;
  text-align: left;
  font-family: "Lato-ExtraBold", sans-serif;
  font-size: 27px;
  line-height: 34px;
  font-weight: 800;
  position: absolute;
  left: calc(50% - 26.98px);
  top: calc(50% - 54.72px);
  width: 421.98px;
  height: 193.32px;
}
.content {
  width: 856.65px;
  height: 501px;
  position: static;
}
.comment {
  width: 43.43px;
  height: 32.55px;
  position: absolute;
  left: calc(50% - -351.57px);
  top: calc(50% - -139.45px);
}
.image {
  width: 307.76px;
  height: 267.2px;
  position: absolute;
  left: calc(50% - 23.81px);
  top: calc(50% - 329px);
  object-fit: cover;
}
.image2 {
  width: 377.56px;
  height: 253.03px;
  position: absolute;
  left: calc(50% - 460.6px);
  top: calc(50% - 329px);
  object-fit: cover;
}
.sag-aftra-has-announced-an-agreement-with-ethovox-which-is-building-a-foundational-ai-model-for-voice {
  color: #f8f8f8;
  text-align: left;
  font-family: "Lato-ExtraBold", sans-serif;
  font-size: 27px;
  line-height: 34px;
  font-weight: 800;
  position: absolute;
  left: calc(50% - 461.65px);
  top: calc(50% - 61.8px);
  width: 332.63px;
  height: 204.45px;
}
.quentyn-kennemer {
  color: #3cffd0;
  text-align: left;
  font-family: "Lato-ExtraBold", sans-serif;
  font-size: 20px;
  line-height: 34px;
  font-weight: 800;
  position: absolute;
  left: 700.42px;
  top: 1195.24px;
  width: 188.25px;
  height: 34.41px;
}
.quentyn-kennemer2 {
  color: #3cffd0;
  text-align: left;
  font-family: "Lato-ExtraBold", sans-serif;
  font-size: 20px;
  line-height: 34px;
  font-weight: 800;
  position: absolute;
  left: 252px;
  top: 1287.35px;
  width: 188.25px;
  height: 34.41px;
}
.quentyn-kennemer3 {
  color: #3cffd0;
  text-align: left;
  font-family: "Lato-ExtraBold", sans-serif;
  font-size: 20px;
  line-height: 34px;
  font-weight: 800;
  position: absolute;
  left: 258px;
  top: 1570px;
}
.image3 {
  width: 186px;
  height: 123px;
  position: absolute;
  left: 579px;
  top: 1467px;
  object-fit: cover;
}
